<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/layout :: head">
    <title>Home</title>
    <link rel="stylesheet" href="../../../css/homeStyle.css">
</head>
<body  style="padding-top: 50px;">

<header th:replace="fragments/header :: header"></header>

<div class="container content-wrapper mt-5" style="height: 100vh;">
    <div class="row align-items-center h-100">
        <!-- Text Section -->
        <div class="col-md-6 text-section d-flex flex-column justify-content-center">
            <div>
                <h1>Furama Resort</h1>
                <p>Đến với Furama Resort, bạn sẽ được hòa mình vào thiên nhiên trong lành, tham gia các hoạt động vui chơi giải trí, thư giãn và nghỉ ngơi để thoát khỏi mọi muộn phiền, bộn bề của cuộc sống, thăng hoa cảm xúc, những trải nghiệm tuyệt vời nhất. Đến với chúng tôi, chúng tôi đảm bảo rằng bạn sẽ không hối hận.</p>
                <p>Với không gian nghỉ dưỡng mang đậm nét thiên nhiên, hòa quyện tinh tế cùng nội thất tiêu chuẩn và dịch vụ hoàn hảo, nơi đây hứa hẹn sẽ là điểm dừng chân lý tưởng để du khách thư giãn và khơi dậy mọi giác quan.</p>
            </div>
        </div>

        <!-- Carousel Section -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div id="resortCarousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 400px;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://furamahotel.webhotel.vn/files/images/Article/nha-noi-trong-rung-5-5ead.jpg" class="d-block w-100 rounded" alt="Ảnh 1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://furamahotel.webhotel.vn/files/images/Article/18.jpg" class="d-block w-100 rounded" alt="Ảnh 2" >
                    </div>
                    <div class="carousel-item">
                        <img src="https://furamahotel.webhotel.vn/files/images/Article/3.jpg" class="d-block w-100 rounded" alt="Ảnh 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>